---
interface Props {
  name: string;
  comunidad: string;
  streamers: string;
  totals: string;
  puesto: string;
}
const { name, comunidad, streamers, totals, puesto } = Astro.props;
---

<div id="cartilla" class="h-full bg-[#1682c7]">
  <img
    class="h-auto max-w-56"
    src=`../../../public/img/palmares/${name}.webp`
    alt=`foto-de-${name}`
    style="background-color: #1682c7;
    mix-blend-mode: luminosity;"
  />
  <div
    class="bg-white flex justify-center items-center w-16 h-14 text-black text-3xl font-bold m-auto relative bottom-6 text-center"
  >
    <p class=`puesto`>{puesto}</p>
  </div>
  <div class="px-5 pb-10 [&&>h5]:text-black [&&>h5]:font-semibold uppercase">
    <h6>{name}</h6>
    <h5>
      comunidad:<span class="value" data-akhi={comunidad}>0</span>
    </h5>
    <h5>
      streamers:<span class="value" data-akhi={streamers}></span>%
    </h5>
    <h3 class="uppercase text-xl font-bold">
      total: <span class="value uppercase" data-akhi={totals}>0</span>%
    </h3>
  </div>
</div>
<script>
  const card = document.getElementById("cartilla");
  const posicion = document.querySelector(".puesto")?.textContent;
  const effect = () => {
    if (posicion == "1ro") {
      card?.setAttribute("style", "box-shadow:0 0 25px 7px #7886ff");
    } else {
      return;
    }
  };
  effect();
</script>
